# Application
awscli
docopt
edx-ccx-keys==1.1.0 # Pinned for python 2.7 compatibility
edx-opaque-keys==2.1.1 # Pinned for python 2.7 compatibility
graphitesend==0.10.0 # Apache
path.py
pbr
pip==19.2.3		
pymongo
python-dateutil
python-gnupg==0.4.6
pyyaml
psutil

# Tests
coverage==4.3.4
mock==2.0.0
pytest==3.0.7
pytest-cov==2.4.0
