# Application
boto3
docopt
edx-ccx-keys
edx-opaque-keys
graphitesend==0.10.0 # Apache
path.py
pbr
pip
pymongo
python-dateutil
python-gnupg==0.3.6
pyyaml
psutil

# Tests
coverage
mock
pytest
pytest-cov
